.nav {
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.App-Name {
  padding-left: 1%;
  padding-top: 1%;
}

.App-Subtitle {
  padding-top: 2.5%;
  color:black;
}

.salaryBtn {
  width: 60%;
}

#nav-dropdown, NavDropdown.Item, NavDropdown {
  color: "black" !important;
}
#basic-navbar-nav .nav-link{
  color:black;
  font-size:1.5em;
  
}
#basic-navbar-nav .nav-link:hover{
  color:brown;
}
