@font-face {
  font-family: 'Crete Round';
  font-style: serif;
  src: url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap'); /* IE9 Compat Modes */
}

.Dashboards {
  text-align: center;
}

.Dashboards h1 {
  font-family: 'Crete Round';
  font-weight: bold;
  font-size: 5em;
  font-style: italic;
}

#chartsSection {
  margin-top: 3%;
}

.logo {
  height: 40vmin;
}

#allContentDash {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
}

#filterBox {
  width: 100%;
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 5%;
  display:block;

}

#chartBox {
  width: 100%;
  display:block;

}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#filterBox {
  width: 50%;
  margin:auto;
}

.chart {
  background-color: white;
}

.rowTitle {
  font-family: 'Crete Round', serif;
  font-weight: bold;
}
